{% extends 'base.html' %}
{% block body %}

	{% import 'banner.html' %}

	<!--================Contact Area =================-->
	<section class="contact_area section_gap">
		<div class="container">
			<div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13"
				data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia." data-mlat="40.701083"
				data-mlon="-74.1522848">
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>Our Location</h6>
							<p><a href="https://www.google.com/maps/place/Masr+Al+Jadidah,+Al+Matar,+El+Nozha,+Cairo+Governorate/@30.1123328,31.3350959,15z/data=!3m1!4b1!4m5!3m4!1s0x145815dcc3e4e599:0x6c67c22e4aa39206!8m2!3d30.112315!4d31.3438507">Masr
								El Gdeda</a>
							</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#">01151141477</a></h6>
							<p>Mobile Nomber</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="#">nooreldeen95@yahoo.com</a></h6>
							<p>Send us your query anytime!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================Contact Area =================-->

{% endblock %}