{% extends 'base.html' %}
{% block body %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="home_left_img">
						<img class="img-fluid" src="static/img/banner/home-left.png" alt="banner image">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="banner_content">
						<h2>
							Welcome to Investigator
						</h2>
						<div class="d-flex align-items-center">
							<a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=zF5Ddo9JdpY"></a>
							<div class="watch_video text-uppercase">
								watch the video
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================First uploading Area =================-->
<!-- style="width:260px;height:220px;z-index:0";>-->
<section class="upcoming_games_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<h2 id="UP">100% Free 100% Free </h2>
					<h1 id="UP2">100% Free to Detect Plagiarism Online</h1>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="new_games_item">
					<img src="static/img/Home/registration-icon-png-6.png">
					<div class="upcoming_title">
						<h3><a href="Writing-Tips.html">Writing Tips</a></h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="new_games_item">
					<img src="static/img/Home/upload-icon-15.png">
					<div class="upcoming_title">
						<h3><a href="Check-percentage.html">Upload Your file</a></h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="new_games_item">
					<img src="static/img/Home/check-icon6.png">
					<div class="upcoming_title">
						<h3><a href="Check-percentage.html">Check plagiarism</a></h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="new_games_item">
					<img src="static/img/Home/download.ico" alt="">
					<div class="upcoming_title">
						<h3><a href="#">Download plagiarism report</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End uploading Area =================-->

<!--================Start features Area =================-->
<section class="recent_update_area section_gap">
	<div class="container">
		<div class="recent_update_inner">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" 
					aria-selected="true">
						Check The percentage Of Plagiarism
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					aria-selected="false">
						Upload Your File
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
					aria-selected="false">
						Download Plagiarism Report
					</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="row recent_update_text">
						<div class="col-lg-6">
							<div class="chart_img">
								<img class="img-fluid" src="static/img/Home/thief.webp">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="section_content">
								<h6>Enjoy Investigator</h6>
								<h1>Check The percentage Of Plagiarism</h1>
								<p>This tool has the ability to check plagiarism by matching your content against billions of 
									webpages on the Internet. Once you upload your content, it will automatically run it against 
									every existing content on the web within seconds, making it the most sophisticated yet fastest 
									plagiarism scanner you'll ever come across in your lifetime.
								</p>
								<a class="primary_btn" href="#">Learn More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="row recent_update_text">
						<div class="col-lg-6">
							<div class="chart_img">
								<img class="img-fluid" src="static/img/Home/upl.png">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="section_content">
								<h6>Enjoy Investigator</h6>
								<h1>Upload Your File</h1>
								<p>If your content is rather local, living in a file within your computer, then you can upload it 
									directly from the local storage.
								</p>
								<a class="primary_btn" href="http://www.gamesforchange.org/what-we-do/challenges/">Learn More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row recent_update_text">
						<div class="col-lg-6">
							<div class="chart_img">
								<img class="img-fluid" src="static/img/Home/downloads-icon-15.png" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="section_content">
								<h6>Enjoy Investigator</h6>
								<h1>Download Plagiarism Report</h1>
								<p>Our anti-plagiarism engine comes with a reporting option which allows you to download a report 
									of the plagiarism search you run. This means you now have some sort of evidence to send across 
									to the relevant parties and a record to keep. Awesome!
								</p>
								<a class="primary_btn" href="https://www.businessinsider.com/video-games-2019-list-2018-12">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Recent Update Area =================-->

<!--================ Start Frequently Asked Questions Area ================-->
<section class="frequently_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<h2 id="UP">Frequently Asked Questions</h2>
					<h1 id="UP2">Frequently Asked Questions</h1>
				</div>
			</div>
		</div>
		<div class="row frequent_inner">
			<div class="col-lg-5 col-md-5">
				<div class="frequent_item">
					<h3 id="UP">What is the importance of plagiarism detection?</h3>
					<p>
						Whether you know it or not, plagiarism does affect you in some way.
							It doesn't matter whether you're the content creator or the one who consumes the content,
							plagiarism affects us all.

						As a content creator (writer, author, researcher, student, freelancer, blogger, social media manager, etc.)
							It's no news that you should be regularly checking to be sure that nobody is copying your content without
							your permission or giving you credit.
					</p>
				</div>
			</div>
			<div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
				<div class="frequent_item">
					<h3 id="UP">Can you go to jail if you plagiarize?</h3>
					<p>  
						Most cases of plagiarism are considered misdemeanors,
							punishable by fines of anywhere between $100 and $50,000 — and up to one year in jail.
							Plagiarism can also be considered a felony under certain state and federal laws.
					<br>  <br>  <br>  <br>
					</p>
				</div>
			</div>
			<div class="col-lg-5 col-md-5">
				<div class="frequent_item">
					<h3 id="UP">Why is it important to not plagiarize?</h3>
					<p>Plagiarism is unethical for three reasons: Firstly, it is unethical because it is a form of theft. 
						By taking the ideas and words of others and pretending they are your own, you are stealing someone
							else's intellectual property. Secondly, it is unethical because the plagiariser subsequently benefits
							from this theft.
						<br>
						<br> 
					</p>
				</div>
			</div>
			<div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
				<div class="frequent_item">
					<h3 id="UP">What happens to students who plagiarize?</h3>
					<p>
						If you unintentionally plagiarize, and you have no previous infractions, then most colleges will lower 
						your grade or fail you for the course.
						<br><br><br><br>         
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Frequently Asked Questions Area ================-->
{% endblock %}